<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/addbook">Add Book</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/viewbook">View Book</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col col-12">
                <div class="jumbotron">
                    <h1 class="display-4">Hello, User!</h1>
                    <p class="lead">This is a demo LMS project on on Express js. More power to you!!</p>
                    <hr class="my-4">
                    <p>This demo project contain add book and view book page.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>